<div class="col-md-6">
  <h2>Add to <%=@person.name%>'s relationships</h2>
  <hr>
  <form action="/<%=@person.id%>/edit" method="post">
    <label for="child_name">Child's name</label>
    <input class="form-control" id="child_name" name="child_name" type="text">
    <br>
    <label for="spouse_name">Spouse's name</label>
    <input class="form-control" id="spouse_name" name="spouse_name" type="text">
    <br>
    <button type="submit" class="btn btn-default">Add relationship</button>
  </form>
</div>
