<form action="/start_tree" method="post">
  <label for="name">What is your name</label>
  <input id="name" name="name" type="text">
  <br>
  <label for="gender">What is your gender</label>
  <input id="gender" name="gender" type="text">
  <br>
  <button type="submit">Start Tree</button>
</form>
