<form action="/start_tree" method="post">
  <label for="name">What is your name</label>
  <input id="name" name="name" type="text">
  <br>
  <label for="gender">What is your gender</label>
  <input type="radio" id="male" name="gender" value="male"checked="checked"/><label for ="man">Male</label>
  <input type="radio" id="female" name="gender" value="female"checked="unchecked"/><label for ="women">Female</label>
  <br>
  <br>
  <button type="submit">Start Tree</button>
</form>
